  #colorbar {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 20px;
    height: 200px;
    background: white;
    padding: 6px;
    border-radius: 6px;
    font-family: sans-serif;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
  }

  #colorbar-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      #440154,
      #3b528b,
      #21918c,
      #5ec962,
      #fde725
    );
  }

  #colorbar-labels {
    position: absolute;
    left: 30px;
    top: 6px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
  }

